body {
    color: #252525;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #F0BC33;
}

header h1 {
    margin: 0;
}
header p {
    margin-top: 0.5em;
}

img {
    display: block;
    width: 100%;
}

.bold {
    font-weight: bold;
}

/*
.box {

    border: 2px solid black;
}*/
